@font-face {
	font-family: 'calibri';
	src: url('../fonts/calibri-webfont.eot');
	src: local('☺'), url('../fonts/calibri-webfont.woff') format('woff'), url('../fonts/calibri-webfont.ttf') format('truetype'), url('../fonts/calibri-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'calibri_l';
	src: url('../fonts/calibril-webfont.eot');
	src: local('☺'), url('../fonts/calibril-webfont.woff') format('woff'), url('../fonts/calibril-webfont.ttf') format('truetype'), url('../fonts/calibril-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{ margin:0; padding:0; font-size:12px; background:url(../images/background1.jpg) repeat; font-family:'calibri'; }
#main_outer{ float:left; width:100%;}
#top_outer{ float:left; width:100%; min-height:30px; background:url(../images/top_head.png) repeat-x; }
#mid_outer{ float:left; width:100%; min-height:564px;  }
#wrapper{ margin:0 auto; width:998px;}
.middle_container{ float:left; width:998px;}
#banner{ float:left; width:100%;}
#logo_outer{ float:left; width:208px; }
#logo_outer img{ border:0px;}
#right_border{ float:left; width:1px; background:#3d2c2c; margin-top:15px; min-height:60px; }
#nav_outer{ float:left; width:500px; margin-top:56px; margin-left:25px;}
#nav_outer_right{ float:left; width:239px; margin-top:56px; margin-left:25px; }
.head_nav{ margin:0;  padding:0; margin-left:6px; font-family:'calibri'; }
.head_nav li{ float:left; display:inline; margin-right:25px; margin-left:2px; position:relative;  }
.head_nav li a{ text-decoration:none; color:#3d2c2c;  font-size:16px; font-family:'calibri'; padding-bottom:10px; }
.head_nav li a:hover{ color:#000;}
.head_nav li .active{color:#000;}
.head_nav li:hover .sub_nav{ display:block }
.arrow_position{ margin-left:5px; padding-bottom:10px;}

.sub_nav{ float:left; display:none; width:100px; margin-top:5px;  padding-left:0px; font-family:'calibri'; background:#f6f1df; position:absolute }
.sub_nav li{ float:left; display:block; width:100%; border-bottom:1px solid #CCC;  }
.sub_nav li a{float:left; text-decoration:none; color:#3d2c2c;  font-size:13px; font-family:'calibri'; padding:3px; width:92%  }
.sub_nav li a:hover{ color:#fff; background:#3d2c2c; }


.right_head_nav{ margin:0;  padding:0;  font-family:'calibri'; float:right; }
.right_head_nav li{ float:left; display:inline; margin-right:25px; margin-left:2px; position:relative;  }
.right_head_nav li a{ text-decoration:none; color:#3d2c2c;  font-size:16px; font-family:'calibri'; padding-bottom:10px; }
.right_head_nav li a:hover{ color:#000;}
.right_head_nav li .active{color:#000;}
.right_head_nav li .test{ display:block; }

.sub_nav1{ float:left; display:none; width:100px; margin-top:5px;  padding-left:0px; font-family:'calibri'; background:#f6f1df; position:absolute }
.sub_nav1 li{ float:left; display:block; width:100%; border-bottom:1px solid #CCC;  }
.sub_nav1 li a{float:left; text-decoration:none; color:#3d2c2c;  font-size:13px; font-family:'calibri'; padding:3px; width:92%  }
.sub_nav1 li a:hover{ color:#fff; background:#3d2c2c; }

#slider_outer{ float:left; width:100%; min-height:250px; margin-top:25px;}
.large_text{ float:left; width:98%; margin-top:15px; font-size:45px; color:#3d2c2c; padding:8px; padding-bottom:0px; font-family:'calibri_l'; text-align:center; font-weight:normal; }
.text_border{ float:left; width:100%; margin-top:5px;  text-align:center; min-height:27px;  }
.small_text{ float:left; width:98%; margin-top:15px; margin-bottom:24px; font-size:14px; color:#3d2c2c; padding:8px; padding-bottom:0px; font-family:'calibri_l'; text-align:center; font-weight:normal; line-height:20px; }




#footer_outer{ float:left; width:100%; min-height:46px; background:url(../images/footer_bg.png) repeat-x; position:fixed; bottom:0; }
#footer_wrapper{ margin:0 auto; width:998px; margin-top:15px; padding-top:3px;}
.number_outer{ float:left; width:250px; margin-right:25px;}
.footer_nav{ margin:0;  padding:0; font-family:'calibri'; margin-top:3px; }
.footer_nav li{ float:left; display:inline; margin-right:25px; margin-left:2px; font-size:14px; color:#fff;  }
.footer_nav li a{ text-decoration:none; color:#fff;  font-size:14px; font-family:'calibri'; padding-bottom:10px; }
.footer_nav li a:hover{ color:#3d2c2c;}
.footer_nav li .active{color:#3d2c2c;}
.footer_nav_outer{ float:left; width:362px; margin-left:200px;}
.footer_icon_outer{ float:left; width:150px; margin-left:10px;}
.small_outer{ float:left; width:25px; height:26px; margin-right:5px;}
